.app_landing {
    height: 100vh;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.app_landing-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_landing-body img {
    width: 86vw;
    align-self: center;
}