@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}


*::selection {
  color: var(--color-white);
  background: var(--color-brown);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--color-brown);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-white: #EDE9E4;
  --color-brown: #563631;
  --color-green: rgba(152, 184, 137, 40%);
  --color-green-button: #97B788;
}