.app_register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #97B788;
}

.app_register-green {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.app_register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app_register-container-header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    background-color: var(--color-white);
}

.app_register-container-images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--color-white);
}

.app_register-container-farmer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app_register-container-farmer-image img {
    height: 15rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.app_register-container-farmer-image img:hover {
    transform: scale(1.1);
}

.farmer {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.farmer.clicked {
    opacity: 1;
}

.reseller {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.reseller.clicked {
    opacity: 1;
}

.app_register-container-reseller {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app_register-container-reseller-image img {
    height: 15rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.app_register-container-reseller-image img:hover {
    transform: scale(1.1);
}

.app_register-container-form {
    width: 1000%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
}

.app_register-container-form form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app_register-container-form label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    align-self: flex-start;
}

.app_register-container-form input {
    width: 100%;
    height: 3rem;
    border: 0.2rem solid var(--color-white);
    border-radius: 0.2rem;
    margin: 0.5rem 0rem;
    box-sizing: border-box;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #563631;
    background-color: var(--color-green);
}

.app_register-container-form input:focus {
    outline: none;
}

.app_register-container-submit {
    width: 10rem;
    align-self: flex-end;
    padding: 0 1rem;
}

.app_register-pois {
    width: 10rem;
}

.app_register-container-form button {
    width: 100%;
    height: 3rem;
    border: 0.2rem solid var(--color-white);
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: #563631;
    background-color: var(--color-white);
    cursor: pointer;
    transition: 0.5s ease;
}

.app_register-container-form button:active {
    background-color: var(--color-green);
}